*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
/work/
/third_party/whisper.cpp/.gradle/
/third_party/whisper.cpp/**/build/
/third_party/whisper.cpp/**/.cxx/
